@import url('https://fonts.googleapis.com/css2?family=Poller+One&family=Poppins:wght@100;200&family=Quicksand&display=swap');

/* font-family: 'Poller One', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif; */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.app{
  background-color: white;
}

.nav{
  text-align: center;
  background-color: rgb(241, 241, 230);
  height: 100vh;
  min-width: 12vw;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

#nav ul li a {
  color: #fff;
  text-decoration: none;
}

.logout{
  /* min-width: 12vw; */
  text-align: center;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  border: 5px solid rgba(0, 0, 255, 0);
  display: block;
  padding: 0 32px;
  line-height: 80px;
  min-width: 12vw;
  /* text-decoration: none;  */
  color: black;
  /* border-radius: 20px; */
}

.logout:hover{
  font-size: 20px;
  color: white;
  background-color: #FFB03A;
}

.community-auth-halt{
    /* min-width: 12vw; */
    text-align: center;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    border: 5px solid rgba(0, 0, 255, 0);
    display: block;
    padding: 0 32px;
    line-height: 80px;
    min-width: 12vw;
    font-weight: bold;
    /* text-decoration: none;  */
    color: black;
    /* border-radius: 20px; */
}

.community-auth-halt:hover{
  color: white;
  text-decoration: none;
  background-color: #FFB03A;
}

a:link {
  display: block;
  padding: 0 20px;
  line-height: 80px;
  font-weight: bold;

  min-width: 12vw;
  text-decoration: none; 
  color: black;
}
a:visited {
  text-decoration: none; 
  color: black;
}
a:hover { 
  color: white;
  text-decoration: none;
  background-color: #FFB03A;
}

a:active { 
  text-decoration: none; 
  background-color: #b46c00;
}

.home-background{
  min-width: 100vw;
  min-height: 96vh;
  background-color: #edd0a4;
  bottom: 0;
  z-index: 9999;
}

.backdrop-img{
  height: 70%;
  min-width: 80vh;
  position: absolute;
  right: 0;
  bottom: 0;
}

.backdrop-img-2{
  height: 90vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 5;
}

.welcome-container{
  border-radius: 25px;
  text-align: center;
  background-color: rgba(156, 255, 119, 0.557);
  backdrop-filter: blur(3px);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.welcome{
  font-family: 'Poller One', cursive;
  font-size: 15vw;
  background-image: linear-gradient(60deg, #E21143, #FFB03A);
  background-clip: text;
  color: transparent;
}

.welcome-subheader{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: white;
}

.login-welcome{
  font-family: 'Poppins', sans-serif;
  color: rgb(94, 159, 88);
}

.sign-in-background{
  text-align: center;
  background-image: url("https://i.pinimg.com/736x/1d/a3/51/1da3512f5d759500b9853811c98376cd.jpg");
  background-size: cover;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-height: 30vw;
  min-width: 60vh;
  margin-top: 10vh;
  background-color: #ffffb8;
  border: 20px solid rgb(100, 148, 120);
  border-radius: 20px;
  -moz-border-radius: 99px;
  -webkit-border-radius: 99px;
  -khtml-border-radius: 99px;
}

.buttons{
  display:inline-block;
  padding:0.2em 1.45em;
  margin:0.1em;
  border:0.15em solid #CCCCCC;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Segoe UI','Roboto',sans-serif;
  font-weight:400;
  color:#000000;
  background-color:#CCCCCC;
  text-align:center;
  position:relative;
  border-radius: 5px;
}

.buttons:hover{
  background-color:#f5eded;
  border-color:#e4e4e4;
  cursor: pointer;
}

.user-container{
  font-family: 'Quicksand', sans-serif;
  margin: auto;
  min-width: 50vw;
  max-width: 50vw;
  min-height: 100vh;
  background-color: white;
}

.welcome-user{
  background-color: #96ceb4;
  padding: 10px;
}

.profile-container{
  border-radius: 15px;
  background-color: #ffeead;
  padding: 3px;
  margin-top: 3vh;
}

.username{
  margin: 15px;
  display: inline-block;
  font-size: 40px;
  border-radius: 45px;
  padding: 20px;
  background-color:#ffcc5c;
}

.user-details{
  background-color: rgb(233, 165, 77);
  font-weight: bold;
  border: 4px solid rgb(233, 165, 77);
  border-radius: 25px;
  padding: 5px;
  margin-right: 3px;
  display: inline-block;
  margin-bottom: 3px;
}

.about-me{
  border-radius: 15px;
  padding: 10px;
  background-color:  #f5d9aca1;
}

.user-fave-box{
  /* border: 5px solid black; */
}

.fave-card{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 3px;
  padding: 3px;
  border: 2px solid rgb(138, 184, 145);
  background-color: #72a89a74;
  border-radius: 25px;
  background-image: linear-gradient(to bottom, #299a6d74, #c7b287);
}

.settings-container{
  border-radius: 25px;
  margin-top: 5vh;
  font-family: 'Quicksand', sans-serif;
  border: 50px solid rgb(255, 140, 0);
  text-align: center;
  align-items: center;
  background-color: #ffe2b7;
}

.edit-user-form{
  display: inline-block;
  text-align: center;
  width:400px;
  padding:20px;
}

.edit-user-input{
  margin:10px;
}

.anatomy-container{
  margin: auto;
  min-width: 70vw;
  max-width: 70vw;
  min-height: 96vh;
  background-color: white;
}

.anatomy-header{
  font-family: 'Quicksand', sans-serif;
  min-width: 70vw;
  max-height: 8vh;
  background-color: rgb(255, 255, 255);
  padding-bottom: 3vh;
}

.anatomy-img-container{
  margin: 50px;
  text-align: center;
}

.anatomy-img{
  height: 60vh;
  width: 85vh;
}

.forum-container{
  margin: auto;
  min-width: 80vw;
  max-width: 80vw;
  min-height: 96vh;
  background-color: white;
}

.forum-header{
  padding-top: 5vh;
  margin: auto;
  min-width: 75vw;
  max-width: 75vw;
  min-height: 7vh;
  background-color: #f2cd5d;
  text-align: center;
}

.forum-welcome{
  font-family: 'Poller One', cursive;
  font-size: 35px;
  background-image: linear-gradient(60deg, #E21143, #FFB03A);
  background-clip: text;
  color: transparent;
}

.forum-welcome-2{
  color: white;
  font-family: 'Poller One', cursive;
  font-size: 35px;
}

.forum-subheader{
  margin:10px 10px 10px 10px;
  padding:5px;
  display:inline-block;
  font-family:'Courier New', Courier, monospace
}

.post-search-div{
  margin-top: 5vh;
  background-color: #f7c44e;
  border-top-right-radius:20px;
  border-top-left-radius:20px;
  padding-top: 2vh;
}

.write-something-div{
  background-color: #f7c44e;
  border-bottom-right-radius:20px;
  border-bottom-left-radius: 20px;
}

.post-search{
  text-align: center;
  height: 3vh;
  width: 20vw;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 25px;
}

.new-post{
  margin: 2vh;
  text-align: center;
  height: 3vh;
  width: 20vw;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 25px;
}

.new-post-container{
  margin-top: 4vh;
  border: 3px solid rgb(205, 255, 205);
  background-color: white;
  border-radius: 25px;
  display: inline-block;
  margin-bottom: 3vh;
}

.new-post-form{
  padding: 10px;
  background-color: white;
  border-radius: 25px;
}

.edit-post-form{
  width: 30%;
  margin-top: 4vh;
  border: 3px solid rgb(195, 233, 195);
  background-color: white;
  border-radius: 25px;
  display: inline-block;
  padding: 10px;
  background-color: white;
  border-radius: 25px;
}

.form-input{
  margin: 2px;
  width: 95%;
  border-radius: 5px;
}

.post-container{
  /* display: inline-block; */
  font-family: 'Quicksand', sans-serif;
  margin: auto;
  min-width: 75vw;
  max-width: 75vw;
  min-height: 80vh;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.533), rgba(255, 255, 0, 0.487));
  text-align: center;
}

.post-card{
  display: inline-block;
  margin-top: 3vh;
  background-color: white;
  min-height: 10vh;
  width: 70vw;
  text-align: center;
  border-radius: 20px;
}

.post-header{
  width: 100%;
  text-align: center;
}

.post-author{
  padding: 4px;
  font-weight:bolder;
  float: left;
}

/* .post-author:hover{
  float: left;
  border: 2px solid black;
  cursor: pointer;
} */

.post-title{
  /* display: inline-block; */
  text-align: center;
  font-size: 25px;
  margin-right: 50px;
}

.post-img-div{
  display: inline-block;
  margin-top: 3vh;
  margin-bottom: 3vh;
  background-color: white;
  /* height: 60vh; */
  width: 100%;
  text-align: center;
  object-fit: contain;
  /* overflow: hidden; */
}

.post-content{
  display: inline-block;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.post-comments{
  margin-top:2px;
}

.dictionary-container{
  margin: auto;
  min-width: 70vw;
  max-width: 70vw;
  background-color: white;
  /* min-height: 96vh; */
  /* background-color: #edd0a4; */
}

.dictionary-header{
  font-family: 'Quicksand', sans-serif;
  min-width: 70vw;
  min-height: 8vh;
  background-color: white;
  padding-bottom: 3vh;
}

.def-search{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  float: right;
  background-color: #ebece1;
  min-height: 4vh;
  max-width: 20vw;
  min-width: 35vw;
  border-radius: 5px;
  margin-top: 4.65vh;
}

.def-filter{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #ebece1;
  min-height: 4vh;
  max-width: 20vw;
  min-width: 35vw;
  border-radius: 5px;
  margin-top: 2vh;
}

.term{
  float: left;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 16vh;
  width: 25vw;
  border: 2px solid white;
  background-color: darkseagreen;
  border-radius: 25px;
  line-height: 80px;
  font-weight: bold;
}

.definition{
  float: right;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 16vh;
  width: 45vw;
  border: 2px solid white;
  background-color: darkseagreen;
  border-radius: 25px;
}

.favorite{
  margin-top: 4px;
  margin-left: 2px;
  position: absolute;
  background-color: transparent;
  border: none;
}

.un-favorite{
  margin-top: 4px;
  margin-left: 2px;
  filter: invert(50%);
  position: absolute;
  background-color: transparent;
  border: none;
}
